{% import "macro.j2" as tools with context %}
[Unit]
Description=Mesos Master
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/sbin/mesos-master \
    --ip={{ ansible_host }} \
    --port=5050 \
    --hostname={{ ansible_host }} \
    --cluster=MesosCluster \
    --work_dir=/var/lib/mesos/master \
    --zk=zk://{{ tools.zookeeper_clients(2181) }}/mesos \
    --quorum={{ groups['mesos-master'] | length | quorum }}

Restart=always
RestartSec=20
LimitNOFILE=infinity


[Install]
WantedBy=multi-user.target
