{% macro myid(node_host) -%}
  {{ node_host.split('.')[-1] }}
{%- endmacro -%}


{% macro zookeeper_clients(port) -%}
{% for host in groups['zookeeper'] -%}
    {{ host }}:{{ port }}
    {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}
